@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
 

.logo-container {
    border-right: 1px solid rgba(245, 247, 251, 0.19);
    
}

.logo-img {
    display: flex;
    justify-content: center;
    padding: 4rem 4rem 3rem 3.5rem;
}

.protect-manage-eve {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 5rem;
    padding: 0rem 0.2rem 0 0.2rem;
}