.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 45%;
    border-right: 1px solid rgba(245, 247, 251, 0.19);
}

.logo {
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* padding: 5rem 3rem 1rem 3rem; */
}

.protect-manage-eve {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 27px;
    text-align: center;
    padding-left: 0.5rem;
}