 .form-container {
    padding: 1rem 5rem;
} 

.sign-in-to-your-acco {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.67px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* .input-field {
    box-sizing: border-box;
    border: 0.55px solid rgba(208,208,208,0.5);
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 12px 20px;
    margin:  8px 0;
    display: inline-block;
    outline: none;
    width: 100%;
} */

.mpin-field {
    position: relative;
}

.eye_on-icon {
    position: absolute;
    top: 1.1rem;
    right: 1rem;
}

.forgot-your-password  {
    color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  text-align: right;
  padding-bottom: 2.5rem;
}

.btn {
    border-radius: 4px;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    padding: 0.6rem 1.8rem 0.6rem 1.8rem;
}

.sign-in {
    color: #0E85FF;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 24px;
}

.dont-have-a-account {
    color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  padding-top: 4rem;
  /* text-align: center; */
}

a {
    all: unset;
    cursor: pointer;
}